[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vershiloandrey
[access "refs/for/refs/*"]
	read = group user/vershiloandrey
	push = group user/vershiloandrey
	label-Code-Review = -2..+2 group user/vershiloandrey
	label-Verified = -1..+1 group user/vershiloandrey
	rebase = group user/vershiloandrey
	removeReviewer = group user/vershiloandrey
	submit = group user/vershiloandrey
[access "refs/heads/*"]
	read = group user/vershiloandrey
	create = group user/vershiloandrey
	push = +force group user/vershiloandrey
	pushMerge = group user/vershiloandrey
[access "refs/tags/*"]
	push = +force group user/vershiloandrey
	pushTag = group user/vershiloandrey
	pushSignedTag = group user/vershiloandrey
